* {
    cursor: none;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#blob {
    z-index: 1000;
    position: fixed;
    width: 20px; /* Blob size */
    height: 20px;
    background-color: #00fffb; /* Blob color */
    border-radius: 50%; /* Makes the div circular */
    pointer-events: none; /* Allows clicks to pass through */
    transform: translate(-50%, -50%); /* Centers the blob on the cursor */
    transition: transform 0.3s; /* Smooth transition for movement */
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    font-family: 'MuseoModerno', sans-serif;
    padding: 20px 40px;
    font-size: 50px;
    border: 2px solid white;
    /* White border */
    background-color: transparent;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(150%);
    transition: background-color 0.3s ease;
}


#startButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Transparent background */
}

#musicButton {
    z-index: 1000;
    position: fixed;
    /* Fixed position */
    top: 10px;
    /* 10 pixels from the top */
    right: 10px;
    /* 10 pixels from the right */
    background-color: transparent;
    /* Transparent background */
    color: white;
    /* White text */
    border: 2px solid white;
    /* White border */
    border-radius: 50%;
    /* Make it round */
    width: 50px;
    /* Width of the button */
    height: 50px;
    /* Height of the button, same as width to make it a circle */
    font-size: 24px;
    /* Size of the music note */
    line-height: 45px;
    /* Center the music note vertically */
    text-align: center;
    /* Center the music note horizontally */
    outline: none;
    /* Remove focus outline */
    box-shadow: none;
    /* Remove box-shadow if any */
}

#musicButton:hover {
    background-color: grey;
    /* Grey background on hover */
    opacity: 0.5;
    /* Make it opaque when hovered */
    transition: all 0.5s ease;
}

#SunCard {
    display: none;
}

#MercuryCard {
    display: none;
}

#VenusCard {
    display: none;
}

#EarthCard {
    display: none;
}

#MarsCard {
    display: none;
}

#JupiterCard {
    display: none;
}

#SaturnCard {
    display: none;
}

#UranusCard {
    display: none;
}

#NeptuneCard {
    display: none;
}

.info-card {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 300px;
    padding: 15px;
    color: #2f2020;
    background-color: rgba(54, 162, 40, 0.62);
    border-radius: 8px;
    border: 3px solid darkblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensures it stays on top of other content */
    font-family: Arial, sans-serif; /* Default font */
}

.info-card h3 {
    margin-top: 0;

}

.info-card p {
    font-size: 14px;
}

.info-card ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.info-card li {
    margin-bottom: 8px;
}
